{% layout "base" %} {% block content %}

<p style="padding-bottom: 20px">Hallo {{ first_name }} {{ last_name }},</p>

<p style="padding-bottom: 30px">
  Ihre Maßnahme hätte bis zum {{measure_due_date}} abgeschlossen sein sollen – aktuell ist sie noch offen.<br>
  Sie sind fast am Ziel. Mit nur wenigen Klicks schließen Sie die Maßnahme ab und bringen alles wieder auf Kurs.
</p>

<a
  class="button"
  rel="noopener"
  target="_blank"
  href="{{url}}"
  style="
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    padding: 11px 24px;
    border-radius: 8px;
    background: #171717;
    border: 1px solid #ffffff;
  "
>
  <!--[if mso]>
    <i style="letter-spacing: 25px; mso-font-width: -100%; mso-text-raise: 30pt"
      >&nbsp;</i
    >
  <![endif]-->
  <span style="mso-text-raise: 15pt">Maßnahme abschließen</span>
  <!--[if mso]>
    <i style="letter-spacing: 25px; mso-font-width: -100%">&nbsp;</i>
  <![endif]-->
</a>


{% endblock %}
