{% layout 'base' %} {% block content %}

<h3 style='padding-bottom: 20px; color: rgba(156, 163, 175, 1)'>Reset your password</h3>

<p style="padding-bottom: 30px">
  You have requested to reset your password. Click the link below to set a new password:
</p>

<a
  class='button'
  rel='noopener'
  target='_blank'
  href='{{url}}'
  style='
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    padding: 11px 24px;
    border-radius: 8px;
    background: #171717;
    border: 1px solid #ffffff;
  '
>
  <!--[if mso]>
    <i style="letter-spacing: 25px; mso-font-width: -100%; mso-text-raise: 30pt"
      >&nbsp;</i
    >
  <![endif]-->
  <span style='mso-text-raise: 15pt'>Reset password</span>
  <!--[if mso]> <i style="letter-spacing: 25px; mso-font-width: -100%">&nbsp;</i> <![endif]-->
</a>
<p style='padding-top: 30px;'>
  You are receiving this email because you requested a password reset for your {{projectName}} account. If you did not make this request, please contact your administrator.
</p>

{% endblock %}
